## Скачивание данных

In [116]:
! pip install kaggle

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (6.1.2)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.64.1)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2022.9.24)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)

In [117]:
! mkdir ~/.kaggle

mkdir: cannot create directory ‘/root/.kaggle’: File exists

In [119]:
! cp kaggle.json ~/.kaggle/

In [120]:
! chmod 600 ~/.kaggle/kaggle.json

In [121]:
!kaggle competitions download -c house-prices-advanced-regression-techniques

house-prices-advanced-regression-techniques.zip: Skipping, found more recently modified local copy (use --force to force download)

In [122]:
! unzip "/content/house-prices-advanced-regression-techniques.zip"

Archive:  /content/house-prices-advanced-regression-techniques.zip
replace data_description.txt? [y]es, [n]o, [A]ll, [N]one, [r]ename: A
  inflating: data_description.txt
  inflating: sample_submission.csv
  inflating: test.csv
  inflating: train.csv

## Предобработка тренировочных данных

In [123]:
import numpy as np
import pandas as pd

In [124]:
df = pd.read_csv("train.csv")
df.head(5)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [125]:
df.shape

(1460, 81)

## Выделяем целевую переменную


SalePrice - отпускная цена собственности в долларах. Это целевая переменная, которую вы пытаетесь предсказать.

In [126]:
y = df['SalePrice']
data = df.drop(columns=['SalePrice'])

In [127]:
data.head(10)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,2,2008,WD,Normal
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,5,2007,WD,Normal
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,9,2008,WD,Normal
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,12,2008,WD,Normal
5,6,50,RL,85.0,14115,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,Shed,700,10,2009,WD,Normal
6,7,20,RL,75.0,10084,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,8,2007,WD,Normal
7,8,60,RL,NaN,10382,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Shed,350,11,2009,WD,Normal
8,9,50,RM,51.0,6120,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,4,2008,WD,Abnorml
9,10,190,RL,50.0,7420,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,1,2008,WD,Normal

## Общая информация о данных

In [128]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 80 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1201 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   Alley          91 non-null     object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     1452 non-null   object
 26  MasVnrArea     1452 non-null   float64
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1423 non-null   object
 31  BsmtCond       1423 non-null   object
 32  BsmtExposure   1422 non-null   object
 33  BsmtFinType1   1423 non-null   object
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1422 non-null   object
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    770 non-null    object
 58  GarageType     1379 non-null   object
 59  GarageYrBlt    1379 non-null   float64
 60  GarageFinish   1379 non-null   object
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1379 non-null   object
 64  GarageCond     1379 non-null   object
 65  PavedDrive     1460 non-null   object
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         7 non-null      object
 73  Fence          281 non-null    object
 74  MiscFeature    54 non-null     object
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   object
 79  SaleCondition  1460 non-null   object
dtypes: float64(3), int64(34), object(43)
memory usage: 912.6+ KB

Очень много пропусков:

* Alley: Тип доступа к аллее
* FireplaceQu: Качество камина
* PoolQC: качество пула
* Fence: Качество забора
* MiscFeature: Прочие функции, не включенные в другие категории

Уберём эти и некоторые другие фичи.

##Выделим важные признаки

In [129]:
num_features = ['MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'OverallQual', 
                'OverallCond', 'YearBuilt', 'YearRemodAdd', 'Exterior1st', 'ExterQual', 
                'ExterCond', 'TotalBsmtSF', 'Electrical', '1stFlrSF','2ndFlrSF', 
                'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 
                'FullBath', 'HalfBath','BedroomAbvGr', 
                'KitchenAbvGr', 'TotRmsAbvGrd', 'Fireplaces', 'GarageYrBlt', 
                'GarageCars', 'GarageArea', 'WoodDeckSF','OpenPorchSF', 
                'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 
                'MiscVal', 'MoSold', 'YrSold']

Оставим только важные признаки

In [130]:
data = data.loc[:, data.columns.intersection(num_features)]

проверим

In [131]:
data.head(10)

,MSSubClass,MSZoning,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,Exterior1st,ExterQual,...,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold
0,60,RL,65.0,8450,7,5,2003,2003,VinylSd,Gd,...,548,0,61,0,0,0,0,0,2,2008
1,20,RL,80.0,9600,6,8,1976,1976,MetalSd,TA,...,460,298,0,0,0,0,0,0,5,2007
2,60,RL,68.0,11250,7,5,2001,2002,VinylSd,Gd,...,608,0,42,0,0,0,0,0,9,2008
3,70,RL,60.0,9550,7,5,1915,1970,Wd Sdng,TA,...,642,0,35,272,0,0,0,0,2,2006
4,60,RL,84.0,14260,8,5,2000,2000,VinylSd,Gd,...,836,192,84,0,0,0,0,0,12,2008
5,50,RL,85.0,14115,5,5,1993,1995,VinylSd,TA,...,480,40,30,0,320,0,0,700,10,2009
6,20,RL,75.0,10084,8,5,2004,2005,VinylSd,Gd,...,636,255,57,0,0,0,0,0,8,2007
7,60,RL,NaN,10382,7,6,1973,1973,HdBoard,TA,...,484,235,204,228,0,0,0,350,11,2009
8,50,RM,51.0,6120,7,5,1931,1950,BrkFace,TA,...,468,90,0,205,0,0,0,0,4,2008
9,190,RL,50.0,7420,5,6,1939,1950,MetalSd,TA,...,205,0,4,0,0,0,0,0,1,2008

In [132]:
data.shape

(1460, 37)

## Обработаем пропуски

In [133]:
data['LotFrontage'].describe()

count    1201.000000
mean       70.049958
std        24.284752
min        21.000000
25%        59.000000
50%        69.000000
75%        80.000000
max       313.000000
Name: LotFrontage, dtype: float64

заполним пропуски средними значениями

In [134]:
fill_value = np.mean(data['LotFrontage'])
data['LotFrontage'] = data['LotFrontage'].fillna(fill_value)

'Electrical' - категориальный признак

In [135]:
data['Electrical'].value_counts()

SBrkr    1334
FuseA      94
FuseF      27
FuseP       3
Mix         1
Name: Electrical, dtype: int64

Заполним пропуски самым встречающимся значением

In [136]:
data['Electrical'] = data['Electrical'].fillna('SBrkr')

In [137]:
data['GarageYrBlt'].describe()

count    1379.000000
mean     1978.506164
std        24.689725
min      1900.000000
25%      1961.000000
50%      1980.000000
75%      2002.000000
max      2010.000000
Name: GarageYrBlt, dtype: float64

заполним пропуски средними значениями

In [138]:
fill_value = np.mean(data['GarageYrBlt'])
data['GarageYrBlt'] = data['GarageYrBlt'].fillna(fill_value)

проверим, не осталось ли пропусков

In [139]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 37 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   MSSubClass     1460 non-null   int64
 1   MSZoning       1460 non-null   object
 2   LotFrontage    1460 non-null   float64
 3   LotArea        1460 non-null   int64
 4   OverallQual    1460 non-null   int64
 5   OverallCond    1460 non-null   int64
 6   YearBuilt      1460 non-null   int64
 7   YearRemodAdd   1460 non-null   int64
 8   Exterior1st    1460 non-null   object
 9   ExterQual      1460 non-null   object
 10  ExterCond      1460 non-null   object
 11  TotalBsmtSF    1460 non-null   int64
 12  Electrical     1460 non-null   object
 13  1stFlrSF       1460 non-null   int64
 14  2ndFlrSF       1460 non-null   int64
 15  LowQualFinSF   1460 non-null   int64
 16  GrLivArea      1460 non-null   int64
 17  BsmtFullBath   1460 non-null   int64
 18  BsmtHalfBath   1460 non-null   int64
 19  FullBath       1460 non-null   int64
 20  HalfBath       1460 non-null   int64
 21  BedroomAbvGr   1460 non-null   int64
 22  KitchenAbvGr   1460 non-null   int64
 23  TotRmsAbvGrd   1460 non-null   int64
 24  Fireplaces     1460 non-null   int64
 25  GarageYrBlt    1460 non-null   float64
 26  GarageCars     1460 non-null   int64
 27  GarageArea     1460 non-null   int64
 28  WoodDeckSF     1460 non-null   int64
 29  OpenPorchSF    1460 non-null   int64
 30  EnclosedPorch  1460 non-null   int64
 31  3SsnPorch      1460 non-null   int64
 32  ScreenPorch    1460 non-null   int64
 33  PoolArea       1460 non-null   int64
 34  MiscVal        1460 non-null   int64
 35  MoSold         1460 non-null   int64
 36  YrSold         1460 non-null   int64
dtypes: float64(2), int64(30), object(5)
memory usage: 422.2+ KB

## Обработаем текстовые данные

In [140]:
from sklearn.preprocessing import LabelEncoder

In [141]:
categorial = ['MSZoning', 'Exterior1st', 'ExterQual', 'ExterCond', 'Electrical']

In [142]:
for pr in categorial:
  print(data[pr].value_counts())

RL         1151
RM          218
FV           65
RH           16
C (all)      10
Name: MSZoning, dtype: int64
VinylSd    515
HdBoard    222
MetalSd    220
Wd Sdng    206
Plywood    108
CemntBd     61
BrkFace     50
WdShing     26
Stucco      25
AsbShng     20
BrkComm      2
Stone        2
AsphShn      1
ImStucc      1
CBlock       1
Name: Exterior1st, dtype: int64
TA    906
Gd    488
Ex     52
Fa     14
Name: ExterQual, dtype: int64
TA    1282
Gd     146
Fa      28
Ex       3
Po       1
Name: ExterCond, dtype: int64
SBrkr    1335
FuseA      94
FuseF      27
FuseP       3
Mix         1
Name: Electrical, dtype: int64

In [143]:
for pr in categorial:
  le = LabelEncoder()
  le.fit(data[pr])
  data[pr] = le.transform(data[pr])

In [144]:
data.head(10)

,MSSubClass,MSZoning,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,Exterior1st,ExterQual,...,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold
0,60,3,65.000000,8450,7,5,2003,2003,12,2,...,548,0,61,0,0,0,0,0,2,2008
1,20,3,80.000000,9600,6,8,1976,1976,8,3,...,460,298,0,0,0,0,0,0,5,2007
2,60,3,68.000000,11250,7,5,2001,2002,12,2,...,608,0,42,0,0,0,0,0,9,2008
3,70,3,60.000000,9550,7,5,1915,1970,13,3,...,642,0,35,272,0,0,0,0,2,2006
4,60,3,84.000000,14260,8,5,2000,2000,12,2,...,836,192,84,0,0,0,0,0,12,2008
5,50,3,85.000000,14115,5,5,1993,1995,12,3,...,480,40,30,0,320,0,0,700,10,2009
6,20,3,75.000000,10084,8,5,2004,2005,12,2,...,636,255,57,0,0,0,0,0,8,2007
7,60,3,70.049958,10382,7,6,1973,1973,6,3,...,484,235,204,228,0,0,0,350,11,2009
8,50,4,51.000000,6120,7,5,1931,1950,3,3,...,468,90,0,205,0,0,0,0,4,2008
9,190,3,50.000000,7420,5,6,1939,1950,8,3,...,205,0,4,0,0,0,0,0,1,2008

категориальных признаков не осталось, всё преобразовали

In [145]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 37 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   MSSubClass     1460 non-null   int64
 1   MSZoning       1460 non-null   int64
 2   LotFrontage    1460 non-null   float64
 3   LotArea        1460 non-null   int64
 4   OverallQual    1460 non-null   int64
 5   OverallCond    1460 non-null   int64
 6   YearBuilt      1460 non-null   int64
 7   YearRemodAdd   1460 non-null   int64
 8   Exterior1st    1460 non-null   int64
 9   ExterQual      1460 non-null   int64
 10  ExterCond      1460 non-null   int64
 11  TotalBsmtSF    1460 non-null   int64
 12  Electrical     1460 non-null   int64
 13  1stFlrSF       1460 non-null   int64
 14  2ndFlrSF       1460 non-null   int64
 15  LowQualFinSF   1460 non-null   int64
 16  GrLivArea      1460 non-null   int64
 17  BsmtFullBath   1460 non-null   int64
 18  BsmtHalfBath   1460 non-null   int64
 19  FullBath       1460 non-null   int64
 20  HalfBath       1460 non-null   int64
 21  BedroomAbvGr   1460 non-null   int64
 22  KitchenAbvGr   1460 non-null   int64
 23  TotRmsAbvGrd   1460 non-null   int64
 24  Fireplaces     1460 non-null   int64
 25  GarageYrBlt    1460 non-null   float64
 26  GarageCars     1460 non-null   int64
 27  GarageArea     1460 non-null   int64
 28  WoodDeckSF     1460 non-null   int64
 29  OpenPorchSF    1460 non-null   int64
 30  EnclosedPorch  1460 non-null   int64
 31  3SsnPorch      1460 non-null   int64
 32  ScreenPorch    1460 non-null   int64
 33  PoolArea       1460 non-null   int64
 34  MiscVal        1460 non-null   int64
 35  MoSold         1460 non-null   int64
 36  YrSold         1460 non-null   int64
dtypes: float64(2), int64(35)
memory usage: 422.2 KB

## Обучаем модель машинного обучения

In [146]:
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import mean_squared_error, make_scorer

In [147]:
X_train, X_test, y_train, y_test = train_test_split(data, y, test_size=0.2)

In [148]:
print(X_train.shape, X_test.shape)

(1168, 37) (292, 37)

In [149]:
from sklearn.linear_model import LinearRegression

In [150]:
lin_reg = LinearRegression()

In [151]:
y.head(10)

0    208500
1    181500
2    223500
3    140000
4    250000
5    143000
6    307000
7    200000
8    129900
9    118000
Name: SalePrice, dtype: int64

In [152]:
lin_reg.fit(X_train[num_features], y_train)

LinearRegression()

In [153]:
y_pred_train = lin_reg.predict(X_train[num_features])

In [154]:
np.sqrt(mean_squared_error(y_train, y_pred_train))

31571.287244808897

In [155]:
y_pred = lin_reg.predict(X_test[num_features])

In [156]:
np.sqrt(mean_squared_error(y_test, y_pred))

42424.96907415156

In [157]:
lin_reg_v = LinearRegression()

In [158]:
scores = cross_val_score(lin_reg_v, data[num_features] , y, cv=5, scoring=make_scorer(mean_squared_error))

In [159]:
np.sqrt(scores)

array([27880.06105423, 34980.71447357, 35721.58237106, 30524.14786715,
       47630.4956185 ])

###Предобработка тестовых данных

In [160]:
data_test = pd.read_csv('test.csv')
data_test.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [161]:
# сохраним колонку Id в отдельной переменной.
# это понадобится нам для формирования файла с ответами для Kaggle
home_id = data_test['Id']

In [162]:
data_test = data_test.loc[:, data_test.columns.intersection(num_features)]

In [163]:
data_test.shape

(1459, 37)

In [164]:
data_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 37 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   MSSubClass     1459 non-null   int64
 1   MSZoning       1455 non-null   object
 2   LotFrontage    1232 non-null   float64
 3   LotArea        1459 non-null   int64
 4   OverallQual    1459 non-null   int64
 5   OverallCond    1459 non-null   int64
 6   YearBuilt      1459 non-null   int64
 7   YearRemodAdd   1459 non-null   int64
 8   Exterior1st    1458 non-null   object
 9   ExterQual      1459 non-null   object
 10  ExterCond      1459 non-null   object
 11  TotalBsmtSF    1458 non-null   float64
 12  Electrical     1459 non-null   object
 13  1stFlrSF       1459 non-null   int64
 14  2ndFlrSF       1459 non-null   int64
 15  LowQualFinSF   1459 non-null   int64
 16  GrLivArea      1459 non-null   int64
 17  BsmtFullBath   1457 non-null   float64
 18  BsmtHalfBath   1457 non-null   float64
 19  FullBath       1459 non-null   int64
 20  HalfBath       1459 non-null   int64
 21  BedroomAbvGr   1459 non-null   int64
 22  KitchenAbvGr   1459 non-null   int64
 23  TotRmsAbvGrd   1459 non-null   int64
 24  Fireplaces     1459 non-null   int64
 25  GarageYrBlt    1381 non-null   float64
 26  GarageCars     1458 non-null   float64
 27  GarageArea     1458 non-null   float64
 28  WoodDeckSF     1459 non-null   int64
 29  OpenPorchSF    1459 non-null   int64
 30  EnclosedPorch  1459 non-null   int64
 31  3SsnPorch      1459 non-null   int64
 32  ScreenPorch    1459 non-null   int64
 33  PoolArea       1459 non-null   int64
 34  MiscVal        1459 non-null   int64
 35  MoSold         1459 non-null   int64
 36  YrSold         1459 non-null   int64
dtypes: float64(7), int64(25), object(5)
memory usage: 421.9+ KB

In [166]:
data_test['MSZoning'].value_counts()

RL         1114
RM          242
FV           74
C (all)      15
RH           10
Name: MSZoning, dtype: int64

In [167]:
data_test['MSZoning'] = data_test['MSZoning'].fillna('RL')

In [168]:
fill_value = np.mean(data['LotFrontage'])
data_test['LotFrontage'] = data_test['LotFrontage'].fillna(fill_value)

In [169]:
data_test['Exterior1st'].value_counts()

VinylSd    510
MetalSd    230
HdBoard    220
Wd Sdng    205
Plywood    113
CemntBd     65
BrkFace     37
WdShing     30
AsbShng     24
Stucco      18
BrkComm      4
AsphShn      1
CBlock       1
Name: Exterior1st, dtype: int64

In [171]:
data_test['Exterior1st'] = data_test['Exterior1st'].fillna('VinylSd')

In [172]:
fill_value = np.mean(data['TotalBsmtSF'])
data_test['TotalBsmtSF'] = data_test['TotalBsmtSF'].fillna(fill_value)

In [173]:
fill_value = np.mean(data['BsmtFullBath'])
data_test['BsmtFullBath'] = data_test['BsmtFullBath'].fillna(fill_value)

In [174]:
fill_value = np.mean(data['BsmtHalfBath'])
data_test['BsmtHalfBath'] = data_test['BsmtHalfBath'].fillna(fill_value)

In [175]:
fill_value = np.mean(data['GarageYrBlt'])
data_test['GarageYrBlt'] = data_test['GarageYrBlt'].fillna(fill_value)

In [176]:
fill_value = np.mean(data['GarageCars'])
data_test['GarageCars'] = data_test['GarageCars'].fillna(fill_value)

In [177]:
fill_value = np.mean(data['GarageArea'])
data_test['GarageArea'] = data_test['GarageArea'].fillna(fill_value)

In [178]:
for pr in categorial:
  le = LabelEncoder()
  le.fit(data_test[pr])
  data_test[pr] = le.transform(data_test[pr])

In [179]:
data_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 37 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   MSSubClass     1459 non-null   int64
 1   MSZoning       1459 non-null   int64
 2   LotFrontage    1459 non-null   float64
 3   LotArea        1459 non-null   int64
 4   OverallQual    1459 non-null   int64
 5   OverallCond    1459 non-null   int64
 6   YearBuilt      1459 non-null   int64
 7   YearRemodAdd   1459 non-null   int64
 8   Exterior1st    1459 non-null   int64
 9   ExterQual      1459 non-null   int64
 10  ExterCond      1459 non-null   int64
 11  TotalBsmtSF    1459 non-null   float64
 12  Electrical     1459 non-null   int64
 13  1stFlrSF       1459 non-null   int64
 14  2ndFlrSF       1459 non-null   int64
 15  LowQualFinSF   1459 non-null   int64
 16  GrLivArea      1459 non-null   int64
 17  BsmtFullBath   1459 non-null   float64
 18  BsmtHalfBath   1459 non-null   float64
 19  FullBath       1459 non-null   int64
 20  HalfBath       1459 non-null   int64
 21  BedroomAbvGr   1459 non-null   int64
 22  KitchenAbvGr   1459 non-null   int64
 23  TotRmsAbvGrd   1459 non-null   int64
 24  Fireplaces     1459 non-null   int64
 25  GarageYrBlt    1459 non-null   float64
 26  GarageCars     1459 non-null   float64
 27  GarageArea     1459 non-null   float64
 28  WoodDeckSF     1459 non-null   int64
 29  OpenPorchSF    1459 non-null   int64
 30  EnclosedPorch  1459 non-null   int64
 31  3SsnPorch      1459 non-null   int64
 32  ScreenPorch    1459 non-null   int64
 33  PoolArea       1459 non-null   int64
 34  MiscVal        1459 non-null   int64
 35  MoSold         1459 non-null   int64
 36  YrSold         1459 non-null   int64
dtypes: float64(7), int64(30)
memory usage: 421.9 KB

In [180]:
y_pred = lin_reg.predict(data_test[num_features])

# Итоговый результат

In [181]:
y_pred = pd.DataFrame(y_pred, columns=['SalePrice'])
y_pred['Id'] = home_id
y_pred = y_pred[['Id', 'SalePrice']]
y_pred.to_csv('submission_lin_reg.csv', index=None)

y_pred.head(10)

     Id      SalePrice
0  1461  116701.844201
1  1462  142219.334140
2  1463  160878.542931
3  1464  188036.645386
4  1465  202706.771543
5  1466  178593.922794
6  1467  194755.534827
7  1468  165502.760575
8  1469  200528.537337
9  1470  112489.049172